.Canvas-SlideBar{
  display: flex;
  height: 90vh;
  margin-top: 5px;
}

#canvas {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #333;
  width: 3vw;
}

/* Tool Bar */
.Tool-Bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.Tool-Bar #Settings-panel {
  display: inline;
  margin-left: auto;
  align-items: top;
}

.Tool-Bar-Dropdown {
  position: relative;
  display: inline-block;
}

.Tool-Bar-Dropdown-Button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.Tool-Bar-Dropdown-Button:hover {
  background-color: #555;
}

.Tool-Bar-Dropdown-Content {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px 0;
}

.Tool-Bar-Dropdown-Content .Tool-Bar-Add-Shape {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.Tool-Bar-Dropdown-Content .Tool-Bar-Add-Shape:hover {
  background-color: #f1f1f1;
}

.Tool-Bar-Dropdown:hover .Tool-Bar-Dropdown-Content {
  display: flex;
  flex-direction: column;
}

.Tool-Bar-Dropdown:hover .Tool-Bar-Dropdown-Button {
  background-color: #555;
}



/* side bar */
.Slide-Bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 20%;
  background-color: #5a5555;
  color: white;
  border-radius: 5px;
}

.Container-Canvas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%; 
  background-color: #f0f0f0;
}
