.Canvas-SlideBar{
  display: flex;
  height: 90vh;
  margin-top: 5px;
}

#canvas {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #333;
  width: 3vw;
}

.Settings-panel{
  padding: 100px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;



  border-radius: 5px;
}

/* Tool Bar */
.Tool-Bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.Tool-Bar-Add-Shape {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #5a5555;
  color: white;
  border-radius: 5px;
  margin: 5px;
}

/* side bar */
.Slide-Bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 20%;
  background-color: #5a5555;
  color: white;
  border-radius: 5px;
}

.Container-Canvas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%; 
  background-color: #f0f0f0;
}
